@use "variables" as var

/* #region startup logo */
.startup-logo-section
    width: 100%
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    background-color: #ffffff

    &__img
        width: 5em
        margin: 0 auto
        margin-bottom: 2em

    &__h1
        margin: 0 auto
        text-align: center
        opacity: 0
        font-size: 3em
        font-family: var.$playfair-font
/* #endregion */
