@use "variables" as var

/* #region startup logo */
.startup-logo-section
    width: 100%
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    background-color: #ffffff
    position: absolute
    top: 0
    left: 0
    z-index: 3

    &__img
        width: 5em
        margin: 0 auto
        margin-bottom: 2em

    &__h1
        margin: 0 auto
        text-align: center
        opacity: 0
        font-size: 3em
        font-weight: 800
/* #endregion */

.tutorial-section
    position: absolute
    top: 0
    left: 0
    z-index: 2
    width: 100%
    padding-top: 2em

.slider
    width: 100%

    &__figure
        margin: 0
        flex-direction: column

        &--block
            display: flex
        &--none
            display: none
    
    &__img
        width: 100%
        aspect-ratio: 1/1.05
        margin-bottom: .8em

    &__figcaption
        text-align: center
        padding: 0 2em
        margin-bottom: 3em
        
        h1
            font-size: 2.2em
            font-weight: 800
            margin-top: 0
            margin-bottom: .5em

        p
            font-size: 1.2em
            font-family: var.$open-sans-font
            margin: 0

.slider-dots
    display: flex
    justify-content: center
    margin-bottom: 3em

    &__span
        width: 14px
        height: 14px
        background-color: #00000047
        border-radius: 50%
        margin: 0 5px

.slider-btns
    text-align: center
    display: flex
    justify-content: space-between
    padding: 0 1em

    button
        font-family: var.$open-sans-font
        font-weight: 500
        font-size: 1em
        width: 45%

    &__skip
        border: 1.5px solid var.$tutorial-color
        border-radius: 30px
        background-color: transparent
        color: var.$tutorial-color
        padding: 1em 0

    &__continue
        border: none
        border-radius: 30px
        background-color: var.$tutorial-color
        color: white
        padding: 1em 0
